﻿<h2>Типы инвентаря</h2>
<div class="m-b-10">
    <label>Имя типа</label> <input #title />
    <button (click)="add(title.value); title.value=''">
        Добавить
    </button>
</div>
<ul class="list-unstyled">
    <li *ngFor="let type of typesList"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{type.id}}</span>
        <span>{{type.title}}</span>
        <button class="delete"
                (click)="delete(type); $event.stopPropagation()">
            x
        </button>
    </li>
</ul>