﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Пункт проката</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">              
                <li>
                    <a href="" routerLink="/orders" routerLinkActive="active">Заказы на аренду</a>
                </li>
                <li>
                    <a href="" routerLink="/customers" routerLinkActive="active">Клиенты</a>
                </li>
                <li>
                    <a href="" routerLink="/inventory-items" routerLinkActive="active">Инвентарь</a>
                </li>
                <li>
                    <a href="" routerLink="/inventory-types" routerLinkActive="active">Типы инвентаря</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>