﻿<h2>Предметы инвентаря</h2>
<div class="m-b-10">
    <div class="form-group">
        <label>Название</label>
        <input #title>
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input #price>
    </div>

    <div class="form-group">
        <label for="typeId">Тип</label>
        <select class="form-control" #typeId required>
            <option *ngFor="let t of typesList" [value]="t.id">{{t.title}}</option>
        </select>
    </div>
    <button (click)="add(title.value,price.value,typeId.value); title.value='';price.value='';typeId.value=''">
        Добавить
    </button>
</div>
<table *ngIf="itemsList && itemsList.length>0" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Категория</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let item of itemsList">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}} р</td>
        <td>{{getItemType(item)}}</td>
        <td>
            <button class="delete"
                    (click)="delete(item); $event.stopPropagation()">
                x
            </button>
        </td>
    </tr>
</table>