﻿<h2>Список арендователей</h2>
<div class="m-b-10">
    <div class="form-group">
        <label>Имя</label>
        <input #name>
    </div>
    <div class="form-group">
        <label>Фамилия</label>
        <input #surname>
    </div>
    <div class="form-group">
        <label>Отчество</label>
        <input #patronymic>
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input #phone>
    </div>
    <button (click)="add(name.value,surname.value,patronymic.value,phone.value); name.value='';surname.value='';patronymic.value=''">
        Добавить
    </button>
</div>
<table *ngIf="customers && customers.length>0" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th></th>
    </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.surname}}</td>
        <td>{{customer.patronymic}}</td>
        <td>{{customer.phone}}</td>
        <td>
            <button class="delete"
                    (click)="delete(customer); $event.stopPropagation()">
                x
            </button>
        </td>
    </tr>
</table>