﻿<h2>Заказы</h2>
<div class="m-b-10">
    <h3>Новый заказ</h3>

    <div class="form-group">
        <label>Покупатель</label>
        <select class="form-control" #customerId required>
            <option *ngFor="let c of customerList" [value]="c.id">{{c.name}} {{c.surname}}</option>
        </select>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-6" style="padding-left: 0 !important;">
                <div class="form-group">
                    <label>Предмет инвентаря</label>
                    <select class="form-control" #itemSelected required>
                        <option *ngFor="let item of itemsList" [value]="item.id">{{item.title}} {{item.price}}р</option>
                    </select>
                    <button (click)="addSelectedItem(itemSelected.value)">Добавить в аренду</button>
                </div>
            </div>
            <div class="col-xs-6">
                <h5>Предметы для арeнды</h5>
                <ul class="list-unstyled">
                    <li *ngFor="let sItem of selectedItems">
                        <span class="badge">{{sItem.id}}</span>
                        <span>{{sItem.title}}</span>
                        <button class="delete"
                                (click)="removeSelectedItem(sItem); $event.stopPropagation()">
                            x
                        </button>
                    </li>
                </ul>
                <p *ngIf="selectedItems && selectedItems.length==0">Нет предметов</p>
            </div>
        </div>
    </div>


    <button (click)="add(customerId.value);customerId.value='';selectedItems=[]">
        Добавить заказ
    </button>
</div>
<table *ngIf="orderList && orderList.length>0" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <!-- <th>Инвентарь</th>-->
        <th>Цена</th>
        <th>Дата выдачи</th>
        <!-- <th>Дата возврата</th>
        <th>Дата оплаты</th>-->
        <th></th>
    </tr>
    </thead>
    <tr *ngFor="let order of orderList">
        <td>{{order.id}}</td>
        <td>{{order.amount}} р</td>
        <td>{{order.dateIssue}}</td>
        <td>
            <button
                (click)="returnItems(order); $event.stopPropagation()">
                Возврат
            </button>
            <button
                (click)="payOrder(order); $event.stopPropagation()">
                Оплата
            </button>
            <button class="delete"
                    (click)="delete(order); $event.stopPropagation()">
                x
            </button>
        </td>
    </tr>
</table>